@model List<CSMR_Front.Models.TarifModel>
@{
    Layout = null;
}

<select id="tarifList" name="tarif" class="form-control col-10">

    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</select>
