@section Scripts
{
    <script type="text/javascript">
        function changePassword() {
            let password = $('#password').val();
            let confPassword = $('#confPassword').val();
            if (password != confPassword) {
                alert("Неправильно указан пароль подтверждения");
            }
            else if (password.length < 6) {
                alert("Укажите пароль длинее 6 символов");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Login/ChangePassword",
                    data: {
                        password: password
                    },

                    success: function (result) {
                        if (result == "true") { location.replace("/Login/Logout") }
                        else { alert(result) }
                    }
                })
            }
        }
    </script>
}
<div class="divAll">
    <div class="alert alert-primary">
        <center><h2>Смена пароля</h2></center>
        <br />
        <br />
        <div class="form-group d-flex row align-items-center justify-content-left">
            <label class="col-5" for="password">Пароль</label>
            <input type="password" class="form-control col-6" id="password" required>
        </div>
        <div class="form-group d-flex row align-items-center justify-content-left">
            <label class="col-5" for="confPassword">Пароль подтверждения</label>
            <input type="password" class="form-control col-6" id="confPassword">
        </div>
        <div class="form-group d-flex row align-items-center justify-content-left">
            <label class="col-5"></label>
            <input type="submit" class="btn btn-warning" onclick="changePassword()" value="Сменить пароль" required>
        </div>
    </div>
</div>